version: "3.8"

x-airflow-common: &airflow-common
  build: .
  env_file:
    - .env
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: mysql+mysqldb://${MYSQL_USER}:${MYSQL_PASSWORD}@mysql8:3306/${MYSQL_DATABASE}
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./src:/opt/airflow/src
  depends_on:
    mysql8:
      condition: service_healthy
  restart: always

services:
  mysql8:
    image: mysql:8.0.36
    env_file:
    - .env
    container_name: mysql8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p123456"]
      interval: 10s
      timeout: 5s
      retries: 10

  # 一次性初始化：建表 + 建 admin
  airflow-init:
    <<: *airflow-common
    container_name: airflow_init
    restart: "no"
    command: >
      bash -c "
      airflow db migrate &&
      airflow users create \
        --username ${AIRFLOW_ADMIN_USER} \
        --password ${AIRFLOW_ADMIN_PASSWORD} \
        --firstname Air \
        --lastname Flow \
        --role Admin \
        --email ${AIRFLOW_ADMIN_EMAIL} || true
      "

  airflow-api-server:
    <<: *airflow-common
    container_name: airflow_api_server
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    ports:
      - "18080:8080"
    command: api-server

  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow_scheduler
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    command: scheduler

volumes:
  mysql_data: